:root {
    --color-contrast:  #CC4B00;
    --color-contrast-dark:  #ff5e00;
    --color-main: #444;
    --color-main-dark: #d4d4d4;
    --color-background: #fff;
    --color-background-dark: #1e1e28;
}

body {
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--color-main);
    background: var(--color-background);
}

h1, h2, h3 {
    color: var(--color-contrast);
    line-height: 1.25;
}

a, a:link, a:visited{
    color: var(--color-main);
    transition: 0.25s;
}

a:hover {
    color: var(--color-contrast);
}

p {
    text-align: justify;
}

svg{
    fill: var(--color-main);
}

hr {
    border-color: var(--color-background);
}

img {
    width: 100%;
    height: auto;
}

@media (prefers-color-scheme: dark) {

    body, hr {
        color: var(--color-main-dark);
        background: var(--color-background-dark)
    }

    h1, h2, h3, a:link, a:visited {
        color: var(--color-contrast-dark)
    }
    a:hover {
        color: var(--color-main-dark);
    }

    svg{
        fill: var(--color-main-dark);
    }

    hr {
        border-color: var(--color-main-dark);
    }
}