---
---
<p>Copyright 2024 Tony Nutzmann. Built with <a href="https://astro.new/latest" target="_blank" rel="noopener noreferrer" aria-label="Astro">Astro</a>.</p>

<style>
    p {
        margin: 3rem 0;
        text-align: center;
        opacity: 75%;
    }
</style>