---
---
<header class="topnav">
    <a href="/">TNUTZMANN</a>
    <div></div>
    <a href="https://github.com/tnutzmann?tab=repositories" target="_blank" rel="noopener noreferrer">Projekte</a>
    <a href="/blog">Blog</a>
</header>
<hr>

<style>
    hr {
        border-top: 1px;
        border-style: solid;
    }
    .topnav {
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    @media (max-width:480px) {
        .topnav {
            flex-direction: column;
        }
        .topnav div {
            display: none;
        }
    }

    .topnav a {
        text-align: center;
        text-decoration: none;
        font-size: 1.25rem;
    }

    .topnav div {
        flex-grow: 2; 
    }
</style>