---
import Layout from '../layouts/BaseLayout.astro';
import SocialIcons from '../components/SocialIcons.astro';
---

<Layout title="Willkommen">
	<h1>Willkommen, auf meinem Platz im Netz</h1>
    <p>
        Hi! Ich bin Tony, Informatikstudent mit einer abgeschlossenen Ausbildung als Fachinformatiker. Dies hier ist mein eigenes stückchen des Internet, auf dem ich mich hin und wieder austobe.
    </p>
    <h2>Über mich</h2>
    <p>
        Mit einer festen Grundlage als Fachinformatiker für Systemintegration und einem laufenden Informatikstudium strebe ich danach, die Schnittstelle zwischen Softwareentwicklung und IT-Betrieb zu optimieren. Meine Expertise erstreckt sich über DevOps-Praktiken, Container-Orchestrierung mit Kubernetes, Linux-Administration und Automatisierungstechniken.
    </p>
    <h3>Meine Schwerpunkte:</h3>
    <ul>
        <li>
            <b>DevOps:</b> Durch die Implementierung von DevOps-Prinzipien verbinde ich effektiv Entwicklung und Betrieb. Dies ermöglicht nicht nur eine kontinuierliche Bereitstellung, sondern fördert auch eine agile und kollaborative Arbeitskultur.
        </li>
        <li>
            <b>Kubernetes:</b> Die Orchestrierung von Containern ist eine meiner Kernkompetenzen. Von der Entwicklung bis zur Skalierung sorge ich dafür, dass Anwendungen nahtlos und effizient in Containerumgebungen laufen.
        </li>
        <li>
            <b>Linux</b> Als erfahrener Linux-Administrator schaffe ich sichere und stabile Umgebungen. Mein Ziel ist es, Linux-basierte Systeme zu optimieren und zuverlässige Plattformen für Anwendungen bereitzustellen.
        </li>
        <li>
            <b>Automatisierung:</b> Effizienz steht im Mittelpunkt meiner Arbeit. Durch Automatisierung von Prozessen minimiere ich manuelle Fehler und beschleunige Bereitstellungen, um mehr Raum für strategische Aufgaben zu schaffen.
        </li>
        <li>
            <b>IT-Security:</b> Mit einem starken Interesse an IT-Security setze ich mich für robuste Sicherheitsmaßnahmen ein. Ich entwickle und implementiere Sicherheitsstrategien, um Systeme vor potenziellen Bedrohungen zu schützen.
        </li>
        <li>
            <b>System Design:</b> Die Gestaltung von Systemen ist entscheidend für deren Leistung und Skalierbarkeit. Ich lege Wert auf durchdachtes Systemdesign, um innovative Lösungen zu schaffen, die den Anforderungen der modernen IT gerecht werden.
        </li>
    </ul>
    <h3>Ausbildung:</h3>
    <ul>
        <li>Ausbildung Fachinformatiker für Systemintegration</li>
        <li>Studium Informatik B.Sc (laufend)</li>
    </ul>
    <h2>Kontakt</h2>
    <SocialIcons/>
    <p>
        Wenn Sie nach einem engagierten IT-Profi suchen, oder einfach nur Ideen austauschen möchten, stehe ich Ihnen gerne zur Verfügung. Kontaktieren Sie mich, und lassen Sie uns gemeinsam innovative Lösungen gestalten.
    </p>
</Layout>