---
interface Props {
	title: string;
}

const { title } = Astro.props;
import "../styles/style.css"
import Topbar from "./Topbar.astro"
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - tnutzmann.de</title>
	</head>
	<body>
		<Topbar/>
		<main>

			<slot />

		</main>
	</body>
</html>
